############################
# .NET
############################

**/bin/
**/obj/

############################
# Visual Studio
############################

.vs/
*.user
*.suo

############################
# Rider
############################

.idea/

############################
# VS Code
############################

.vscode/

############################
# Node.js / Next.js
############################

**/node_modules/
**/.next/
npm-debug.log*

############################
# Environment
############################

.env
.env.*

############################
# Logs
############################

*.log

############################
# OS
############################

.DS_Store
Thumbs.db